{%extends "base.html"%}
{%block title%}Listening Task{%endblock%}
{% block styles %}
<style>
  video {
    object-fit: fill;
  }
</style>
{% endblock %}
{%block body%}
  <div class="container">
  {% if task %}
  <div class="row">
    <h2 class="col-md-6">Listening Comprehension Task</h2>
    <span class="col-md-6 text-right">
      <br>
      <a class="btn btn-primary" href="/startquiz">Back to Home Screen</a>
    </span>
  </div>
  <hr>
    {% if task.filepath %}
    <div style="text-align:center; border:1px solid black;">
      <video controls width="100%" src="{{task.filepath}}" preload="auto" autoplay>
        Your browser does not support the video tag.
      </video>
    </div>
    {% else %}
      <h4>Listening Comprehension Task for today was not found on Server.</h4>
    {% endif %}
  {% else %}
    <h2>You are not allowed to see this page at this moment. Please check back.</h2>
  {% endif %}
  </div>
{%endblock%}
